@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body, #root, .app {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.content {
  width: calc(100% - var(--main-left));
}

.app {
  display: flex;
  position: relative;
}

main, aside {
  position: absolute;
  top: 0;
}

main {
  --main-left: 68.56px;
  left: var(--main-left);
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #141b2d;
}

::-webkit-scrollbar-thumb {
  background: #1f2a40;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b2538;
}

.table .item:hover {
  background-color: #182132;
}

.table::-webkit-scrollbar {
  width: 6px;
}

.table::-webkit-scrollbar-track {
  background: #1f2a40;
}

.table::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #535ac8;
}

.card:hover {
  box-shadow: $box-shadow;
}

@media screen and (max-width: 480px) {
  aside {
    display: none;
  }
  main {
    --main-left: 0px;
  }
}