$main-bg: #1D2141;
$soft-bg: #384256;
$dark-bg: #2C325C;
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$light-green: #3EF3D3;
$dark-green: #1a6255;
$box-shadow: 1px 1px 1vh 3px rgba(25, 25, 25, 0.4);