$main-bg: #282c34;
$soft-bg: #384256;
$dark-bg: #1c1f25;
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$light-green: #0b8300;
$dark-green: #053e00;
$box-shadow: 1px 1px 1vh 3px rgba(25, 25, 25, 0.4);